@model StoreFront.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@* LIKELY WILL USE THIS FOR SUBSCRIPTION PRICE *@
<section id="pricing" class="white">
    <div class="container">
        <div class="center gap fade-down section-heading">
            <h2 class="main-title">So, How Much?</h2>
            <hr>
            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
        </div>
        <div class="gap"></div>
        <div id="pricing-table" class="row">
            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan1">
                    <li class="plan-name">
                        <h3>Basic</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>$</sup>10</span>
                            <small>month</small>
                        </div>
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        <h3>Standard</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>$</sup>20</span>
                            <small>month</small>
                        </div>
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-outlined btn-primary btn-md">Signup</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan3">
                    <li class="plan-name">
                        <h3>Advanced</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>$</sup>40</span>
                            <small>month</small>
                        </div>
                    </li>
                    <li>
                        <strong>50GB</strong> Storage
                    </li>
                    <li>
                        <strong>8GB</strong> RAM
                    </li>
                    <li>
                        <strong>1024GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>Unlimited</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan4">
                    <li class="plan-name">
                        <h3>Mighty</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>$</sup>100</span>
                            <small>month</small>
                        </div>
                    </li>
                    <li>
                        <strong>50GB</strong> Storage
                    </li>
                    <li>
                        <strong>8GB</strong> RAM
                    </li>
                    <li>
                        <strong>1024GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>Unlimited</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
        </div>
        <div class="gap"></div>
    </div>
</section>




@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
