@model IEnumerable<StoreFront.DATA.EF.Coffee>

@{
    ViewBag.Title = "SHOP";
}

<div class="center">
    <img src="~/Content/images/coffeeBeans/Explore Our Offerings (1).jpg" alt="" style="width: 100%"  />
</div>


<div id="content-wrapper" style="padding: 9%;">
    <div class="container">
        <div id="content-wrapper">
            <h2>Sustainable coffee choosen with purpose.</h2>
            <p>  </p>

            @if (User.IsInRole("Admin"))
            {
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            }
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CoffeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Images)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Region)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Name", new { id = item.CoffeeID})" title="@item.CoffeeName">
                                @Html.DisplayFor(modelItem => item.CoffeeName) | <br />
                            </a>
                            @Html.ActionLink("Details", "Details", new { id = item.CoffeeID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.Images)*@
                            <a href="@Url.Action("Details", new { id = item.Images})" title="@item.CoffeeName">
                                <img src="~/Content/images/coffeemessenger/@item.Images" alt="@item.CoffeeName coffee image" style="max-height: 100px; width: auto;" />
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CoffeeID }) |

                                @Html.ActionLink("Delete", "Delete", new { id = item.CoffeeID })
                            </td>
                        }
                    </tr>
                }

            </table>
        </div>
    </div>
</div>