@model IEnumerable<StoreFront.DATA.EF.Coffee>

@{
    ViewBag.Title = "SHOP";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeStatu.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeSupplier.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeType.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Name", new { id = item.CoffeeID})" title="@item.CoffeeName">
                    @Html.DisplayFor(modelItem => item.CoffeeName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Images)*@
                <a href="@Url.Action("Details", new { id = item.CoffeeID})" title="@item.CoffeeName">
                    <img src="~/Content/images/coffeemessenger/@item.Images" alt="@item.CoffeeName coffee image" style="max-height:100px; width: auto;" />

                </a>


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeStatu.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeSupplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeType.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CoffeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CoffeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CoffeeID })
            </td>
        </tr>
    }

</table>
