<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | ANCHOR </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/pe-icons.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    @* Added *@
    <script src="https://kit.fontawesome.com/1f94d5f4f0.js" crossorigin="anonymous"></script>

    <!--Custom.css-->
    <link href="~/Content/css/custom.css" rel="stylesheet" />


    <script src="~/Scripts/js/jquery.js"></script>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57x57.png">

    <!--jQuery DataTables-->
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />

    @* AJAX Step 1 - Add <link> for jQuery UI in the <head> and add <scripts> for jQueryUI and jQuery AJAX at the bottom of the layout *@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">


</head><!--/head-->


<body>
    <div id="preloader"></div>
    <header class="navbar navbar-inverse navbar-fixed-top opaqued" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Coffee")"><h1><span class="pe-7s-gleam bounce-in"></span>ANCHOR</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","Coffee")">Shop</a></li>
                    @*<li><a href="@Url.Action("Index","CoffeeSuppliers")">Our Partners</a></li>*@
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu account-dropdown">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </li>
                    <li class="nav-item">
                        @{
                            Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> shoppingCart =
                                (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];

                            int nbrItems = 0;

                            if (shoppingCart != null)
                            {
                                foreach (var item in shoppingCart)
                                {
                                    nbrItems += item.Value.Qty;
                                }
                            }

                        }
                        <a href="@Url.Action("Index", "ShoppingCart")">Cart<i class="fa fa-shopping-cart"></i><span class="cart-text">@nbrItems</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header><!--/header-->


    <div id="content-wrapper">

        @* Step 8 *@
        @*<div id="MessageDisplay" class="row">
            <div class="col-md-10 col-md-offset-1" id="MessageContent"></div>
        </div>*@
        @RenderBody()
    </div>


    <div id="footer-wrapper">
        <section id="bottom" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 about-us-widget">
                        <h4>Ethically Sourced</h4>
                        <p> Our approach to sourcing is a part of the core philosophy of our company. Quality driven farmers cultivate their coffee crop to be its best. It is their work that builds the foundation for what makes great coffee. </p>
                    </div><!--/.col-md-3-->
                    <div class="col-md-3 col-sm-6">

                        <div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="~/Content/images/coffeeBeans/nafinia-putra-Kwdp-0pok-I-unsplash.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="@Url.Action("Index","Coffee")">Shop Here</a></span>
                                    <small class="muted">Roasted to order, your journey starts here.</small>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="~/Content/images/coffeeBeans/clint-mckoy-h28p96ICizo-unsplash.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="@Url.Action("About","Home")">Company History</a></span>
                                    <small class="muted">From humble beginnings </small>
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <address>
                            <strong>Anchor Coffee</strong><br>
                            4040 Southwest Boulevard Kansas City, Missouri, 86370<br>
                            @*<abbr title="Phone"><i class="fa fa-phone"></i></abbr>  +1-816-849-1286*@
                        </address>
                    </div> <!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->
        <div class="col-md-3 col-sm-6">
            <div>
                @if (User.IsInRole("Admin"))
                {
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"> <b>Admin Tools:</b> </a>                   
                        <a href="@Url.Action("Index","Employees")">Employees</a>
                        <a href="@Url.Action("Index","Customers")">Customers</a>
                        <a href="@Url.Action("Index","CoffeeSuppliers")">Suppliers</a>                                       
                }
            </div>
        </div><!--/.col-md-3-->

        <footer id="footer" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        &copy; 2021 ANCHOR @*<a href="https://templatemag.com/bootstrap-templates/">Bootstrap templates</a>*@
                        @*<a id="gototop" class="gototop" href="@ViewBag.Title"><i class="fas fa-arrow-up"></i>Back To Top</a>*@<!--#gototop-->
                    </div>
                   
                </div>
            </div>
        </footer><!--/#footer-->
    </div>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="~/Scripts/js/init.js"></script>

    <!--JQuery DataTables-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <!-- Place scripts below jQuery (jQuery may already be referenced in your project) -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

    <!--ADDEDjQuery UI CDN-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- ADDED jQuery Ajax CDN-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
